html {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0 1rem 1rem 1rem;
  /* max-width: 680px; */
  margin: 0 auto;
  background: #fff;
  color: #333;
  height: 100%;
}

#__next {
  height: 100%;
}

main {
  height: 100%;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  /* background: #ccc; */
  display: flex;
  border: 10px solid #ccc;
  border-radius: 0.5rem;
  /* filter: invert(1); */
}

.temi-control {
  padding: 0.95rem;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start
}

/***/
.image-viewer{
  margin: 20px;
  width: 850px;
}
.carousel-container {
  margin: 0px -24px;
  padding: 0px 22px;
  overflow: hidden;
}
.external-buttons {
  overflow: visible;
}
.external-buttons .swiper-button-prev, .external-buttons.swiper-container-rtl .swiper-button-next {
  left: -16px;
  right: auto;
}
.external-buttons .swiper-button-next, .external-buttons.swiper-container-rtl .swiper-button-prev {
  right: -16px;
  left: auto;
}
.swiper-button-prev, .swiper-button-next {
  top: 45%;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  color: blue;
  font-weight: 700;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 16px;
}
.swiper-button-prev:after {
  position: relative;
  left: -1px;
}
.swiper-button-next:after {
  position: relative;
  left: 1px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.image {
  width: 100%;
  height: auto;
}